.blur-background {
    filter: blur(6px);
    pointer-events: none;
    user-select: none;
  }
  
  .text {
    position: relative;
  }
  
  .container {
    transition: filter 0.3s ease-in-out;
  }
  
  .blur-navbar {
    filter: blur(5px);
    pointer-events: none; 
  }